/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  background-color: #F3F5F6;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a{
  text-decoration: none;
}

hr{
  background-color:rgba(56,56,56,0.2);
  border:none;
  height: 1px;
}
.wrap{
  width: 100%;
  margin: 0 auto;
}
.header{
  height: 60px;
  position: fixed;
  width: 100%;
  background-color: #f3f5f6;
  z-index: 9999;
}
.logo{
  float: left;
  width: 105px;
  height: 30px;
  margin: 10px;
  position: fixed;
  z-index: 9999;
}

.logo img{
  width: 100%;
}

.menuallwrap{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 15px;
}
.menu{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.menu li{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  color: rgba(170,170,170,0.8);
}

.menu li:hover .items{
  display: block;
}

.menu li:hover{
  color: rgba(78,78,78,0.8);
}

.menu li.active{
  color: rgba(78,78,78,0.8);
}


.menu li a{
  display: block;
  color:rgba(56,56,56,0.5);
  padding: 6px;
  text-decoration: none;
}

.items{
  display: none;
  position: absolute;
  padding: 6px 2px;
  min-width: 60px;
  font-size: 12px;
  line-height: 5px;
  top: 55px;
  background-color: rgba(234,236,237,0.9);
  box-shadow: 2px 2px 2px 1px rgb(204,204,204,0.1);
  border-radius: 4px;
}
.contentall{
  line-height: 1.8;
}
.content p{
  margin-bottom: 1em;
  font-size: 12px;
  line-height: 18px;
  color: rgba(78,78,78,0.7);
  text-align: center;
  width: 95%;
}

.wrapper-hamburger {
  display: none;
}
@media (max-width: 767px){
  .logo{
  width: 90px;
  height: 30px;
  margin: 2px;
}

.menu {
  /*隱藏選單開始*/
  height: 0vh;
  overflow: hidden;
  /*隱藏選單結束*/
  transition: opacity 1.2s;
  /*絕對定位疊在網頁上*/
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(234,236,237,0.95);
  pacity: 0;
}

/*jQ點擊後動態在 body 加上 class */
.menu-show .menu{
  height: 100vh;
  opacity: 1;
  display: block;
}

  .menu li{
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    color: rgba(170,170,170,0.8);
    line-height: 12px;
  }

  .menu li:hover{
    color: rgba(78,78,78,0.8);
  }

  .menu li.active{
    color: rgba(78,78,78,0.8);
  }

  .menuallwrap{
    margin-top: 20%;
    flex-direction: column;
  }

  .items{
    display: block;
    padding: 5px 15px;
    background-color: rgba(255,255,255,0);
    box-shadow: none;
    border-radius:none;
    position: unset;
  }
  .all-language{
/*    display: none;*/
   margin: 0 auto;
  }
  .menu li a{
    transition: all 0.8s;
  }

  .wrapper-hamburger {
    height: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 200;
  }

  .cross-button {
    width: 20px;
    height: 3px;
    background-color: rgba(56,56,56,0.5);
    transition: all 0.3s;
  }

  .header-content_active .wrapper-hamburger {
    justify-content: center;
  }

  .header-content_active .cross-button {
    background-color: rgba(56,56,56,0.5);
  }

  .header-content_active .cross-button-top {
    transform: rotate(45deg) translateY(2px);
  }

  .header-content_active .cross-button-bottom {
    transform: rotate(-45deg) translateY(-2px);
  }
  }


/*maincontent*/

.maincontent{
  margin-top: 70px;
}

.maincontent-works, .maincontent-about ,.maincontent-experience{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.maincontent-works a, .maincontent-about a ,.maincontent-experience a{
  display: block;
  color: rgba(78,78,78,0.7);
  font-size: 25px;
  letter-spacing: 6px;
  font-weight: 300;
}

.about-all-formob{
  display: none;
}

.about-section{
  margin: 0 auto;
  display: flex;
  width: 75%;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.about-section img{
  width: 55%;
  height: auto;
}
.about-introduction{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
}
.about-introduction img{
  width: 30%;
  height: auto;
  padding: 10px;
}
.about-year {
    font-size: 12px;
    color: #4d443e;
    font-weight: 800;
    line-height: 15px;
    padding-bottom: 8px;
}
/*tab-accwrap-web*/
#tab-accwrap-web{ 
  margin:0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width:75%;
 
}

.nav{
  margin:0;
  padding:0;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  display:inline-block;
  width:100%;
  height:6rem;
  white-space:nowrap;
  behaviour:'smooth';
}
.nav::-webkit-scrollbar {
  background-color: transparent;
  outline: 0px solid transparent;
}


.tab-title-outer{
  overflow: hidden;
  width: 200px;   
}

.tab-title{ 
  list-style:none;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  max-width: 100%;
  padding-top: 10px;
  margin-bottom:10px;
}

.tab-title a {
  display: block;
  text-decoration: none;
  color: rgba(56,56,56,0.2);
  font-size:15px;
  padding:10px;
  width: 100px;
  border-radius: 2px;
}


.tab-title li{
  text-align: center;
  padding-top: :20px;
  /*padding-bottom: 20px;*/
  line-height: 20px;
  font-size:14px;
  width: 140px;
  height: 43px;
  font-size: 20px;
  align-items: center;
  display: grid;
}

.tab-inner{ 
  width: 100%;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  align-items: center;
}

.tab-inner li{
  width: 24.6%;
  /*padding:10px;*/
  border-radius:2px;
  border: 1px solid #eaeaea;
  margin-bottom:8px;
}

.tab-innerwrap{
  width: 100%;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  
}

.tab-title .active a{ 
  background-color: rgba(200, 200, 200, 0.2);
  color:rgba(78,78,78,0.7);
  align-items: center;
  display: grid;
}

@media (max-width: 767px){
#tab-accwrap-web{
  display: none;
}

.about-all-formob{
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}
.about-section{
  width: 100%;
  flex-direction: column;
}
.about-section img{
  width: 100%;
}
.about-year{
  font-size: 12px;
  color: #4d443e;
  font-weight: 800;
  line-height: 15px;
  padding: 5px;
  width: 20%;
  background-color: rgba(200, 200, 200, 0.2);
  color:rgba(78,78,78,0.7);
  height: 15%;
  border-radius: 2px;
  text-align: center;
}
.about-year h2{
  text-align: center;
}
.about-experience{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}
.about-experience span{
  font-size: 12px;
  color: #4d443e;
  font-weight: 800;
  display: block;
  margin-bottom: 8px;
}
.about-experience p{
  width: 100% !important;
  text-align: justify; !important;
  margin-left: 20px;
}
.about-section p{
  display: block;
  width: 88%;
  font-size: 12px;
  line-height: 18px;
  color: rgba(78,78,78,0.7);
  text-align:center;
  padding: 10px;
}
.about-introduction{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.about-introduction img{
  width: 25%;
  height: auto;
}
}

#myBtnContainer{
  display: flex;
  justify-content: center;
  margin: 15px 15px 12px 15px;
}

#picturegrid{
  column-count: 3;
  -moz-column-count:3;
  -webkit-column-count:3;
  column-gap: 2px;
  -moz-column-gap: 2px;
  -moz-column-gap: 2px;
  margin: 0 auto;
  width: 75%;
  height: 2000px;

}
.row {
  margin: 0px 0px;
  display: block;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
/*  padding: 2px;*/
}
.column {
  width: 100%;
  display: none; 
}


/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  padding: 2px;
  display: table;
  display: -webkit-table;
  column-break-inside: avoid; 
  -webkit-column-break-inside: avoid; 
  width: 100%;
  margin: 0 auto;
}

.content img{
  border-radius: 5px;
}

.contentpic{
  padding: 2px;
  display: -webkit-inline-box;
}
/* The "show" class is added to the filtered elements */
.show {
  display: block;
  position: relative;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 8px 10px;
  background-color: none;
  color: rgba(56,56,56,0.2);
  background-color: rgba(56 56 56 / 0%);
  margin: 0px 10px;
  font-size: 15px;
}

.btn:hover {
  color: rgba(78,78,78,0.7);
  border-bottom: 1px solid rgba(56 56 56 / 0.5);
}

.btn .active a{
  color: rgba(78,78,78,0.7);
  border-bottom: 1px solid rgba(56 56 56 / 0.5);
}

.overlay {
  position: fixed;
  background-color: rgba(71, 69, 69, 0.7);
  width: 100%;
  max-height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10000;
  display: none;
  padding-top: 20px;
  overflow-y: scroll;
}

.overlay-inner {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
/*  transform: translate(-50%, -50%);*/
  background-color: rgba(255 255 255 / 50%);
  max-width: fit-content;
  padding: 35px 10px 10px 10px;
  position: relative;
  border-radius: 5px;
  opacity: 1;
  box-shadow: 1px 1px 3px #30303040;
  margin: 0 auto;
}

.close {
  position: absolute;
  top: 9px;
  right: 15px;
  background-image: none;
  color: #474545;
  border-width: 0px;
  text-transform: uppercase;
  background-color: #fff0;
}

.overlay-inner img {
  height: auto;
  width: 100%;
  transform: none;
}

.btn-box {
  position: absolute;
  -moz-position: absolute;
  -webkit-position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.content .project:hover .btn-box {
  display: block;
}

.btnview{
  background-color: rgba(255 255 255 / 30%);
  color: rgba(56 56 56 / 80%);
  border: none;
  display: block;
  padding: 15px;
  box-shadow: 1px 1px 3px #30303040;
  font-size: 20px;
  font-weight: 100;
}

.smallImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 767px){
.btn {
  padding: 5px 5px;
  font-size: 13px;
}  
#picturegrid{
  column-count: 2;
  -moz-column-count: 2;
  -webkit-column-count:2;
  width: 96%;
  height: 2000px;
}  
.maincontent-works a ,.maincontent-about a ,.maincontent-experience a{
  font-size: 18px;
  letter-spacing: 0.3em;
  font-weight: 300;
}

.row > .column {
}
.column{
    width: 100%;
}

}
