/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body{
  background-color: #F3F5F6;
}
a{
  color: rgba(56,56,56,0.5);
  text-decoration: none;
}

.wrap{
  max-width: 960px;
  margin: 0 auto;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.its-logo{
  width: 50px;
  height: 50px;
  color: rgba(56,56,56,0.5);
}

.its-logo a{
  display: block;
  margin: 5px 20px 0px 20px;
}

.menu{
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.menu li{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.menu li:hover .items{
  display: block;
}

.menu li a{
  display: block;
  color:rgba(56,56,56,0.5);
  padding: 5px;
  text-decoration: none;
}

.items{
  display: none;
  position: absolute;
  padding: 15px 25px;
  min-width: 60px;
  font-size: 12px;
  line-height: 18px;
  top: 35px;
}

.all-language{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.all-language a{
  display: block;
  color: rgba(56,56,56,0.5);
}

.language-item{
  border: 1px solid rgba(210,210,210,0.5);
  border-radius: 4px;
  padding: 2px;
   margin-right: 10px;
   font-size: 10px;
}

#header-content{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

 .wrapper-hamburger {
  display: none;
}
 
@media (max-width: 767px){
  .menu {
   /*隱藏選單開始*/
   display: none;
   /*max-height: 0px;
   overflow: hidden;*/
   /*隱藏選單結束*/
   transition: max-height 3.3s;
   margin-top: 1px;
   flex-direction: column;
   /*絕對定位疊在網頁上*/
   position: absolute;
   z-index: 100;
   /*header 80px+1px boder 線條*/
   top: 0;
   left: 0;
   right: 0;
   animation: menu-animation 1.3s;
  }
  .menu li{
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
  }
  .items{
    display: block;
    position: unset;
  }
  .all-language{
    display: none;
  }
  .menu li a{
    transition: all 0.8s;
  }

  .wrapper-hamburger {
    height: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin: 10px 20px 0px 20px;
  }

.cross-button {
    width: 20px;
    height: 3px;
    background-color: rgba(56,56,56,0.5);
    transition: all 0.3s;
  }

.header-content_active {
    background-color: rgba(215,215,215,0.3);
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
    transition: all 1.3s;
  }

  .header-content_active .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 8vh;
    opacity: 1;
  }

  .header-content_active .logo {
    color: white;
  }

  .header-content_active .link-text {
    color: white;
    font-size: 36px;
    margin-bottom: 50px;
  }

  .header-content_active .wrapper-hamburger {
    height: 30px;
    justify-content: center;
  }

  .header-content_active .cross-button {
    background-color: rgba(56,56,56,0.5);
  }

  .header-content_active .cross-button-top {
    transform: rotate(45deg) translateY(2px);
  }

  .header-content_active .cross-button-bottom {
    transform: rotate(-45deg) translateY(-2px);
  }





