/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body{
  background-color: #F3F5F6;
}
a{
  text-decoration: none;
}
.wrap{
  width: 100%;
  margin: 0 auto;
}
.header{
  height: 60px;
  position: fixed;
  width: 100%;
  background-color: #F3F5F6;
}
.logo{
  float: left;
  width: 60px;
  height: 30px;
  background: #c4c4c4;
  border: 2px solid #9c9c9c;
  margin: 15px;
  position: fixed;
  z-index: 9999;
}

.menuallwrap{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.menu{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.menu li{
  float: left;
}
.menu li a{
  display: block;
  color: rgba(140,140,140,0.8);
  padding: 10px;
  text-decoration: none;
}

.items{
  display: none;
  flex-direction: column;
  padding: 15px 25px;
  min-width: 60px;
  font-size: 12px;
  line-height: 18px;
  top: 35px;
}
.content{
  padding: 8px;
  line-height: 1.8;
}
.content p{
  margin-bottom: 1em;
}

.wrapper-hamburger {
  display: none;
}
@media (max-width: 767px){
  .menu {
    /*隱藏選單開始*/
    height: 100vh;
    overflow: hidden;
    /*隱藏選單結束*/
    transition: height 2s;
    transition: background 1.2s;
    transition: display 1.2s;
    background: rgba(60,60,60,0);
    /*絕對定位疊在網頁上*/
    position: absolute;
    z-index: 100;
    /*header 80px+1px boder 線條*/
    top: 0;
    left: 0;
    right: 0;
    background: rgba(215,215,215,0.5);
    display: none;
  }

  .menu li{
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
    color: rgba(170,170,170,0.8);
    line-height: 28px;
  }

  .menu li:hover{
    color: rgba(78,78,78,0.8);
  }

  .menuallwrap{
    margin-top: 20%;
    flex-direction: column;
  }

  .items{
    display: flex;
    padding: 5px 25px;
    background-color: rgba(255,255,255,0);
    box-shadow: none;
    border-radius:none;
  }
  .all-language{
/*    display: none;*/
   margin: 0 auto;
  }
  .menu li a{
    transition: all 0.8s;
  }

  .wrapper-hamburger {
    height: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
  }

  .cross-button {
    width: 20px;
    height: 3px;
    background-color: rgba(56,56,56,0.5);
    transition: all 0.3s;
  }

  .header-content_active .wrapper-hamburger {
    justify-content: center;
  }

  .header-content_active .cross-button {
    background-color: rgba(56,56,56,0.5);
  }

  .header-content_active .cross-button-top {
    transform: rotate(45deg) translateY(2px);
  }

  .header-content_active .cross-button-bottom {
    transform: rotate(-45deg) translateY(-2px);
  }
  
  
  /*jQ點擊後動態在 body 加上 class */
  .menu-show .menu{
    height: 100vh;
    display: block;
}
}


/*maincontent*/

.maincontent{
  margin-top: 50px;
}

.maincontent-works{
    display: flex;
    justify-content: center;
/*    margin: 20px 0px 0px 0px;*/
}
.maincontent-works a{
  display: block;
  color: rgba(78,78,78,0.7);
  font-size: 25px;
  letter-spacing: 0.3em;
  font-weight: 300;
}
#myBtnContainer{
  display: flex;
  justify-content: center;
  margin: 15px 15px 12px 15px;
}
.row {
  margin: 0px 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 6px;
}

/* Create three equal columns that floats next to each other */
.column {
  width: 23.65%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  padding: 10px;
  border-radius: 5px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 5px 5px;
  background-color: none;
  color: rgba(56,56,56,0.2);
  background-color: rgba(56 56 56 / 0%);
  margin: 0px 10px;
}

.btn:hover {
  color: rgba(78,78,78,0.7);
  border-bottom: 1px solid rgba(56 56 56 / 0.5);
}

.btn .active a{
  color: rgba(78,78,78,0.7);
  border-bottom: 1px solid rgba(56 56 56 / 0.5);
}

@media (max-width: 767px){
.maincontent-works a{
  font-size: 18px;
  letter-spacing: 0.3em;
  font-weight: 300;
}

.row > .column {
    padding: 3px;
}
.column{
    width: 48%;
}
}






